<h1>Edit Artist Form</h1>
<table>
<%= form_for(@artist) do |f| %>
  <tr>

  <td><%= f.label :name, 'Artist Name' %></td>
  <td><%= f.text_field :name %></td></tr>
  <tr><td><%= f.label :bio%></td>
  <td><%= f.text_area :bio %></td></tr>
  <tr>
    <td><%= f.submit %></td>
  </tr>
  </table>
<% end %>
